[user]
    email = <email>
    name = Paul David
[core]
    editor = vim
    whitespace = fix, -indent-with-non-tab, trailing-space, cr-at-eol, tabwidth=4
[push]
    default = simple
[merge]
    conflictstyle = diff3
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[grep]
    lineNumber = true
[alias]
    d = difftool
